<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripplaner_g3">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application

        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tripplanner.ViewArticleActivity"></activity>
        <activity
            android:name=".tripplanner.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tripplanner.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.IntroActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".tripplanner.HomePage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.HotelsPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.Booking"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.YouProfile"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.YouWallets"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.YouInviteAndEarn"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.SearchLocalities"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tripplanner.EndBooking"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".weather.WeatherMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
<!--        ngan luong_Payment-->
        <activity
            android:name="vn.demonganluong.ui.activity.PaymentMainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.demonganluong.ui.activity.CheckOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.demonganluong.ui.activity.CheckOutActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".googlemap.GoogleMapActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Service.GetLocationService"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>